#name{
    color: blue;
}
#rgb{
    color: rgb(0, 0, 255);
}
#rgba{
    color: rgba(0, 0, 255,0.5);
}
#hex{
    color: #0000ff;
}
#hsl{
    color: hsl(240, 100%, 50%);
}
#hsla{
    color: hsla(240, 100%, 50%,0.5);
}