#pad1{
    border: 1px solid black;
    text-align: center;
    padding: 5px; /*5px all 4 sides*/
}
#pad2{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px; /*5px(top & bottom) and 10px(left & right)*/
}
#pad3{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px 15px; /*(5px-top, 10px(right & left), 15px-bottom)*/
}
#pad4{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px 15px 20px; /*(5px-top, 10px-right, 15px-bottom, 20px-left)[Clockwise]*/ 
}
#pad5{
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    /* padding: 5px 10px 15px 20px; */
}