li{
    border: 1px solid black;
}

ul{
    /* list-style-type: none; */
    /* list-style-type: disc; */
    /* list-style-type: circle; */
    /* list-style-type: square; */
    
    list-style-image: url('bulb.png');
    list-style-position: inside;
    
    /* Shorthand Property */
    /* list-style: url('bulb.png') inside; */
}

ol{
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-roman; */
    /* list-style-type: upper-roman; */
    /* list-style-type: decimal; */
    list-style-type: decimal-leading-zero;

    /* list-style-image: url('bulb.png'); */
    list-style-position: outside;
}