#cover{
    height: 200px;
    width: 200px;
    margin: 150px;
    border: 2px solid red;
}

#content{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;

    /* rotate-3d(x,y,z,angle) */
    /* transform: perspective(300px) rotate3d(50,0,0,20deg); */
    /* transform: perspective(300px) rotate3d(0,50,0,20deg); */
    /* transform: perspective(300px) rotate3d(0,0,50,20deg); */

    /* translate(x,y,z) */
    /* transform: perspective(300px) translate3d(20px, 0, 0); */
    /* transform: perspective(300px) translate3d(0, 20px, 0); */
    /* transform: perspective(300px) translate3d(0, 0, 20px); */

}