#layers{
    margin: 50px;
    padding: 20px;
}

#l1, #l2, #l3{
    height: 100px;
    width: 100px;
    color: white;
    display: inline-block;
    text-align: center;
}

#l1{
    background-color: red;
    position: relative;
    /* z-index: -2; */
}

#l2{
    background-color: green;
    position: relative;
    top: 50px;
    left: -50px;
    z-index: -1; /*by deafult z-index value is zero and hence z-index -1 is lower priortized than other elements*/
}

#l3{
    background-color: blue;
    position: relative;
    top: 100px;
    left: -100px;
    /* z-index: -2; */
}