.flex-container1 {
    background-color: cadetblue;
    display: flex;

    flex-flow: row wrap;
}

.flex-container2 {
    background-color: cadetblue;
    display: flex;

    flex-flow: column wrap;
}

.flex-child {
    background-color: burlywood;
    margin: 20px;
    padding: 10px;
    width: 100px;
}
